<!--<div class="body">
    <section>
        <article></article>
        <article>
            <div class="circleSkill">
                <article style="top: 15%;left: 5%;">
                <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 8%;left: 40%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 15%;left: 80%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 43%;left: 8%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 43%;left: 40%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 43%;left: 75%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 73%;left: 10%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 80%;left: 40%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 73%;left: 75%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
            </div>
        </article>
    </section>
</div>
-->
<div class="body">
    <section class="tittle">
        <h1><i class="fas fa-trophy"></i> Skills!</h1>
    </section>
    <section class="content">
        <section class="left">
            <article>
                <img src="https://cdn-icons-png.flaticon.com/512/2620/2620735.png">
            </article>
            <article>
                <img src="https://cdn3.iconfinder.com/data/icons/illustricon-tech/512/development.browser.gears.-512.png">
            </article>
            <article>
                <img src="https://cdn-icons-png.flaticon.com/512/5136/5136950.png">
            </article>
        </section>
        <section class="rigth">
            <article>
            </article>  
        </section>
    </section>
</div>