<div class="body">
    <section>
        <article></article>
        <article>
            <div class="circleSkill">
                <article style="top: 15%;left: 5%;">
                <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 8%;left: 40%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 15%;left: 80%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 43%;left: 8%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 43%;left: 40%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 43%;left: 75%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 73%;left: 10%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 80%;left: 40%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
                <article style="top: 73%;left: 75%;">
                    <img src="https://cfl.dropboxstatic.com/static/images/logo_catalog/dropbox_webclip_200_vis.png">
                </article>
            </div>
        </article>
    </section>
</div>
