.body{
    width: 100vw;
    height: 100vh;
    padding: 0em;
    margin: 0em;
    background: #10111A;
    overflow: hidden;
}
.portada{
    width: 100vw;
    height: 94vh;
    margin-top: 0em;
    display: grid;
}
.contenedor{
    width: 80vw;
    height: 100%;
    margin: auto auto;
}
.contenedor>img{
    width: 15em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-0em -0em 2em #2C3E50);
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.contenedor>h1{
    font-size: 4em;
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    margin: 0em;
}
.contenedor>p{
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    margin: 0px;
}
.contenedor>ul{
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
    text-align: center;
    margin-top: 1em;
}
.contenedor>ul>li{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.contenedor>ul>li>a{
    color: white;
    font-size: 3em;
    display: block;
    float: left;
    text-align: center;
    
}
@keyframes swing
    {
    15%
    {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    }
    30%
    {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    }
    50%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    65%
    {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    }
    80%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    100%
    {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    .swing:hover{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        cursor: pointer;
    }

@media (min-width: 768px) {
    .body{
        width: 100vw;
        height: 100vh;
        padding: 0em;
        margin: 0em;
        background: #10111A;
        overflow: hidden;
    }
.portada{
    width: 100vw;
    height: 94vh;
    margin-top: 0em;
    display: grid;
}    
.contenedor{
    width: 80%;
    height: 70%;
    margin: auto auto;
}
.contenedor>img{
    width: 13em;
    height: 13em;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-0em -0em 2em #2C3E50);
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.contenedor>h1{
    font-size: 4em;
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    margin: 0em;
}
.contenedor>p{
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    margin: 0px;
}
.contenedor>ul{
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
    text-align: center;
    margin-top: 1em;
}
.contenedor>ul>li{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.contenedor>ul>li>a{
    color: white;
    font-size: 2em;
    display: block;
    float: left;
    text-align: center;
    }
    @keyframes swing
    {
    15%
    {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    }
    30%
    {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    }
    50%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    65%
    {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    }
    80%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    100%
    {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    .swing:hover{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        cursor: pointer;
    }
}
 
/*escritorio normales*/ 
@media (min-width: 992px) {
    .body{
        width: 100vw;
        height: 100vh;
        padding: 0em;
        margin: 0em;
        background: #10111A;
        overflow: hidden;
    }
    .portada{
    width: 100vw;
    height: 94vh;
    margin-top: 0em;
    display: grid;
    }
    .contenedor{
        width: 80%;
        height: 70%;
        margin: auto auto;
    }
    .contenedor>img{
        width: 12em;
        height: 12em;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(-0em -0em 1em #2C3E50);
        border-radius: 50%;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor>h1{
        font-size: 4em;
        text-align: center;
        color: white;
        margin: 0em;
    }
    .contenedor>p{
        font-size: 2em;
        text-align: center;
        color: white;
        font-family: 'Nanum Pen Script', cursive;
        margin: 0em;
        margin-bottom: 0.5em;
    }
    .contenedor>ul{
        width: 30%;
        margin: auto;
        display: block;
    }
    .contenedor>ul>li{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .contenedor>ul>li>a{
        color: white;
        font-size: 2em;
        display: block;
        float: left;
        text-align: center;
    } 
    @keyframes swing
    {
    15%
    {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    }
    30%
    {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    }
    50%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    65%
    {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    }
    80%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    100%
    {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    .swing:hover{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        cursor: pointer;
    }
}
/*pantallas grandes*/ 
@media (min-width: 1200px) {
    .body{
        width: 100vw;
        height: 100vh;
        padding: 0em;
        margin: 0em;
        background: #10111A;
        overflow: hidden;
    }
    .portada{
        width: 100vw;
        height: 94vh;
        margin-top: 0em;
        display: grid;
    }
    .contenedor{
        width: 80%;
        height: 100%;
        margin: auto auto;
    }
    .contenedor>img{
        width: 16em;
        height: 16em;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(-0em -0em 2em #2C3E50);
        border-radius: 50%;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor>h1{
        font-size: 5em;
        text-align: center;
        color: white;
        font-family: 'Indie Flower', cursive;
        margin: 0em;
    }
    .contenedor>p{
        font-size: 2em;
        text-align: center;
        color: white;
        font-family: 'Nanum Pen Script', cursive;
        margin: 0em;
        margin-bottom: 2%;
    }
    .contenedor>ul{
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0em;
        text-align: center;
        margin: auto;
    }
    .contenedor>ul>li{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .contenedor>ul>li>a{
        color: white;
        font-size: 3em;
        display: block;
        float: left;
        text-align: center;
    }
    @keyframes swing
    {
    15%
    {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    }
    30%
    {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    }
    50%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    65%
    {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    }
    80%
    {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
    }
    100%
    {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    .swing:hover{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        cursor: pointer;
    }
}