<nav class="menu">
   <div>
    <section class="logo">
        <p>⚡</p>
    </section>
    <section class="listMenu">
        <ul>
            <li><a href="#"><i class="fas fa-home"></i></a></li>
            <li><a href="#">About</a></li>   
            <li><a href="#">Services</a></li>   
            <li><a href="#">Experience</a></li>   
            <li><a href="#">Works</a></li>   
            <li><a href="#">Blog</a></li>   
            <li><a href="#">Contact</a></li>   
        </ul>
    </section>
   </div>
</nav>
<div class="body">
    <section class="contenedor">
        <img src="https://avatars.githubusercontent.com/u/1744446?v=4">
        <h1>Jhordy Vargas</h1>
        <p>Web Developer⚡</p>
        <ul>
            <li>
                <a href="#" style="color: #04689B;" ><i class="fab fa-linkedin"></i></a>
                <a href="#" style="color: #3A559F;"><i class="fab fa-facebook-square"></i></a>
                <a href="#" style="color: #EB2984;"><i class="fab fa-instagram"></i></a>
                <a href="#" style="color: white;"><i class="fab fa-github"></i></a>
            </li>
        </ul>
    </section>
</div>