<div class="body">
    <section class="contenedor">
        <img src="https://avatars.githubusercontent.com/u/1744446?v=4">
        <h1>Jhordy Vargas</h1>
        <p>Web Developer🥷</p>
        <ul>
            <li>
                <a href="#" style="color: #04689B;" ><i class="fab fa-linkedin swing"></i></a>
                <a href="#" style="color: #3A559F;"><i class="fab fa-facebook-square swing"></i></a>
                <a href="#" style="color: #EB2984;"><i class="fab fa-instagram swing"></i></a>
                <a href="#" style="color: white;"><i class="fab fa-github swing"></i></a>
            </li>
        </ul>
    </section>
</div>