<div class="body">
    <app-menu></app-menu>
    <div class="portada">
        <section class="contenedor">
            <img src="https://avatars.githubusercontent.com/u/1744446?v=4">
            <h1>Jhordy Vargas</h1>
            <ngx-typed-js [strings]="['Web Developer🥷', 'Ingeniero de Sistemas']">
                <h1 class="typing"></h1>
              </ngx-typed-js>
            <ul>
                <li>
                    <a href="#" title="Linkedin" style="color: #04689B;" ><i class="fab fa-linkedin swing"></i> </a>
                    <a href="#" title="Github" style="color: white;"><i class="fab fa-github swing"></i></a>
                    <a href="#" title="Instagram" style="color: #EB2984;"><i class="fab fa-instagram swing"></i></a>
                    <a href="#" title="Facebook" style="color: #3A559F;"><i class="fab fa-facebook-square swing"></i></a>
                </li>
            </ul>
        </section>
    </div>
</div>