<div class="body">
    <div class="tittle">
        <h1><i class="fas fa-user-tie"></i> About Me!</h1>
    </div>
    <div class="contenedor">
        <section class="image">
            <img src="../../../assets/imagen/pixlr-bg-result.png">
        </section>
        <section class="content">
            <article class="swing">
                <h1>Soy Jhordy Vargas!</h1>
                <p class="general">🧑‍💻Técnico de Informática con sólidos conocimientos en desarrollo de software;
                   responsable, innovador y capaz de cumplir con los objetivos de la empresa de
                   manera eficiente. Con la capacidad de aprender y desarrollarse en diferentes
                   lenguajes de programación.</p>
                <p class="corto">🧑‍💻Técnico de Informática con sólidos conocimientos en desarrollo de software, con experiencia 2 años de experiencia en 
                    el mundo web.
                </p>
                <a href="#" class="cv">Descargar CV</a>
                <a href="#" class="contactame">Contactame!</a>
            </article>
        </section>
    </div>
</div>