<div class="body">
    <section>
        <div class="cabecera">
            <p>Latest Projects</p>
            <a href="#">See All Projects</a>
        </div>
        <div class="itemCard">
            <article>
                <article class="card">
                    <article>
                        <img src="https://i.pinimg.com/236x/f4/39/43/f439433d2d86776cd7befa8b1c9c900a.jpg">
                    </article>
                    <article class="cardText">
                        <article>
                            <span>FullStack</span>
                            <H1>Spotify</H1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum optio corporis voluptas<br> quod ducimus alias aut, 
                            tempore ex labore accusantium distinctio eveniet quam nisi <br>tempora ullam eligendi doloribus laborum. Ducimus.</p>
                            <a href="#">View Details</a>
                        </article>
                    </article>
                </article>
            </article>
            <article>
                <article class="card">
                    <article >
                        <img src="https://i.pinimg.com/originals/d6/b1/03/d6b1039a75aeb004ef202da4189ddb86.jpg">
                    </article>
                    <article class="cardText">
                        <article>
                            <span>FullStack</span>
                            <H1>Netflix</H1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum optio corporis voluptas<br> quod ducimus alias aut, 
                            tempore ex labore accusantium distinctio eveniet quam nisi <br>tempora ullam eligendi doloribus laborum. Ducimus.</p>
                            <a href="#">View Details</a>
                        </article>
                    </article>
                </article>
            </article>
            <article>
                <article class="card">
                    <article>
                        <img src="https://i.pinimg.com/236x/f4/39/43/f439433d2d86776cd7befa8b1c9c900a.jpg">
                    </article>
                    <article class="cardText">
                        <article>
                            <span>FullStack</span>
                            <H1>Spotify</H1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum optio corporis voluptas<br> quod ducimus alias aut, 
                            tempore ex labore accusantium distinctio eveniet quam nisi <br>tempora ullam eligendi doloribus laborum. Ducimus.</p>
                            <a href="#">View Details</a>
                        </article>
                    </article>
                </article>
            </article>
            <article>
                <article class="card">
                    <article >
                        <img src="https://i.pinimg.com/originals/d6/b1/03/d6b1039a75aeb004ef202da4189ddb86.jpg">
                    </article>
                    <article class="cardText">
                        <article>
                            <span>FullStack</span>
                            <H1>Netflix</H1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum optio corporis voluptas<br> quod ducimus alias aut, 
                            tempore ex labore accusantium distinctio eveniet quam nisi <br>tempora ullam eligendi doloribus laborum. Ducimus.</p>
                            <a href="#">View Details</a>
                        </article>
                    </article>
                </article>
            </article>
        </div>
    </section>
</div>
